SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# iCE Pi Zero (ECP5-25F) LPF constraints

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# 50 MHz on-board oscillator
LOCATE COMP "clk" SITE "M1";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 50 MHZ;

# Active-low reset button
LOCATE COMP "rst_n_btn" SITE "C4";
IOBUF PORT "rst_n_btn" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# Status LEDs
LOCATE COMP "led[0]" SITE "E13";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[1]" SITE "D14";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[2]" SITE "E12";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[3]" SITE "C13";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[4]" SITE "D13";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;

# USB UART
LOCATE COMP "usb_rx" SITE "K16";
IOBUF PORT "usb_rx" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "usb_tx" SITE "K15";
IOBUF PORT "usb_tx" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
