# Pin Constraint File for Alchitry Cu v1 Board
# Lattice iCE40-HX8K-CB132 FPGA
# Reference: https://github.com/r1cebank/alchitry-cu-utils/blob/main/alchitry_cu.pcf

# 100 MHz Clock Input (on-board oscillator)
set_io clk P7

# Reset Button (active low)
set_io rst_n_btn P8

# LED Outputs (8 LEDs on main board)
set_io led[0] J11
set_io led[1] K11
set_io led[2] K12
set_io led[3] K14
set_io led[4] L12
set_io led[5] L14
set_io led[6] M12
set_io led[7] N14
